body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
}

.circle {
    border: 3px solid black;
    border-radius: 50%;
    box-sizing: border-box;
    width: 320px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url(./img/que-hago.png);
    position: absolute;
    top: 0vh;
}

.circle-secondary {
    border: 3px solid black;
    border-radius: 50%;
    /* width: 1200px; */
    width: 400vw;
    /* height: 1200px; */
    height: 400vh;
    position: fixed;
    top: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.background-title {
    color: white;
    font-size: 2.5rem;
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
}

.text-title {
    color: black;
    font-size: 1.5rem;
    font-family: 'IBM Plex Mono', monospace;
    margin-bottom: 0.5rem;
}

.button-next {
    z-index: 9;
    width: 140px;
    height: 39px;
    border-radius: 25.74px;
    border: 1.56px solid #000;
    background: #FFF;
    position: fixed;
    /* top: 513px; */
    bottom: 2vh;
    /* left: 176px; */
    right: 2vw;
    font-family: 'IBM Plex Mono', monospace;
    padding: 0;
}

.button-next-link {
    color: black;
    font-size: 16px;
    text-decoration: none;
}

.button-back {
    z-index: 9;
    width: 140px;
    height: 39px;
    border-radius: 25.74px;
    border: 1.56px solid #000;
    background: #FFF;
    position: fixed;
    /* top: 513px; */
    bottom: 2vh;
    /* right: 176px; */
    left: 2vw;
    font-family: 'IBM Plex Mono', monospace;
    padding: 0;
}

.button-back-link {
    color: black;
    font-size: 16px;
    text-decoration: none;
}

.content {
    clip-path: polygon(50% 0, 100% 5%, 100% 100%, 0 100%, 0 5%);
    box-sizing: border-box;
    /* width: 320px; */
    width: 90vw;
    /* height: 376px; */
    height: 67vh;
    overflow-y: auto;
    margin-top: 3vh;
}

p {
    font-size: 1.1rem;
    font-family: 'IBM Plex Mono', monospace;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

p:first-child {
    margin-top: 2rem;
}

.images {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.logo-images {
    width: 100px;
    height: auto;
}

.image-conteiner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

b {
    color: orangered;
}

p:last-child, img:last-child {
    margin-bottom: 5rem;
}

/* Letras curvadas del circulo principal */

.warp__placeholder{
    position: absolute;
    color: transparent;
    font-size: .1px;
}

.warp {
    display: block;
    position: relative;
    width: 320px;
    height: 161px;
    font: normal 16px/1 ultra;
    color: white;
}

[class*='warp__'] {
    display: block;
    position: absolute;
}

.warp__0 {
    transform-origin: 50% -2px;
    transform: translate(-0.8089px,99.2023px) rotate(-1.723738rad);
}

.warp__1 {
    transform-origin: 50% -2px;
    transform: translate(-2.9938px,89.6891px) rotate(-1.566083rad);
}

.warp__2 {
    transform-origin: 50% -2px;
    transform: translate(-1.5659999999999998px,79.1444px) rotate(-1.399278rad);
}

.warp__3 {
    transform-origin: 50% -2px;
    transform: translate(1.6558000000000002px,70.2784px) rotate(-1.250514rad);
}

.warp__4 {
    transform-origin: 50% -2px;
    transform: translate(4.4491px,62.3027px) rotate(-1.107901rad);
}

.warp__5 {
    transform-origin: 50% -2px;
    transform: translate(8.7152px,53.6253px) rotate(-0.944206rad);
}

.warp__6 {
    transform-origin: 50% -2px;
    transform: translate(16.1069px,45.0606px) rotate(-0.7767rad);
}

.warp__7 {
    transform-origin: 50% -2px;
    transform: translate(24.8407px,38.4232px) rotate(-0.645058rad);
}

.warp__8 {
    transform-origin: 50% -2px;
    transform: translate(32.3923px,33.636399999999995px) rotate(-0.549904rad);
}

.warp__9 {
    transform-origin: 50% -2px;
    transform: translate(39.584px,29.3704px) rotate(-0.465006rad);
}

.warp__10 {
    transform-origin: 50% -2px;
    transform: translate(47.843px,25.2117px) rotate(-0.381703rad);
}

.warp__11 {
    transform-origin: 50% -2px;
    transform: translate(58.7621px,21.6545px) rotate(-0.309077rad);
}

.warp__12 {
    transform-origin: 50% -2px;
    transform: translate(67.7908px,19.1805px) rotate(-0.256827rad);
    color: orangered;
}

.warp__13 {
    transform-origin: 50% -2px;
    transform: translate(76.0648px,16.9902px) rotate(-0.208183rad);
    color: orangered;
}

.warp__14 {
    transform-origin: 50% -2px;
    transform: translate(86.1145px,15.109px) rotate(-0.162991rad);
    color: orangered;
}

.warp__15 {
    transform-origin: 50% -2px;
    transform: translate(96.4041px,13.277px) rotate(-0.112482rad);
    color: orangered;
}

.warp__16 {
    transform-origin: 50% -2px;
    transform: translate(113.0462px,12.0439px) rotate(-0.069003rad);
    color: orangered;
}

.warp__17 {
    transform-origin: 50% -2px;
    transform: translate(123.1516px,11.5323px) rotate(-0.04368rad);
    color: orangered;
}

.warp__18 {
    transform-origin: 50% -2px;
    transform: translate(131.2383px,11.2515px) rotate(-0.022028rad);
}

.warp__19 {
    transform-origin: 50% -2px;
    transform: translate(141.2496px,11.1496px) rotate(0.003054rad);
}

.warp__20 {
    transform-origin: 50% -2px;
    transform: translate(154.0463px,11.3247px) rotate(0.0254rad);
}

.warp__21 {
    transform-origin: 50% -2px;
    transform: translate(163.7613px,11.6995px) rotate(0.044855rad);
}

.warp__22 {
    transform-origin: 50% -2px;
    transform: translate(175.4823px,12.2616px) rotate(0.065346rad);
}

.warp__23 {
    transform-origin: 50% -2px;
    transform: translate(184.2208px,13.0028px) rotate(0.086939rad);
}

.warp__24 {
    transform-origin: 50% -2px;
    transform: translate(194.8896px,14.0154px) rotate(0.112045rad);
}

.warp__25 {
    transform-origin: 50% -2px;
    transform: translate(204.5036px,15.2245px) rotate(0.138664rad);
}

.warp__26 {
    transform-origin: 50% -2px;
    transform: translate(213.5782px,16.6194px) rotate(0.166895rad);
}

.warp__27 {
    transform-origin: 50% -2px;
    transform: translate(223.1286px,18.1893px) rotate(0.196839rad);
}

.warp__28 {
    transform-origin: 50% -2px;
    transform: translate(230.3765px,20.0891px) rotate(0.231577rad);
}

.warp__29 {
    transform-origin: 50% -2px;
    transform: translate(240.193px,22.3519px) rotate(0.271796rad);
}

.warp__30 {
    transform-origin: 50% -2px;
    transform: translate(247.8472px,24.8104px) rotate(0.314852rad);
}

.warp__31 {
    transform-origin: 50% -2px;
    transform: translate(256.5529px,28.2916px) rotate(0.375652rad);
}

.warp__32 {
    transform-origin: 50% -2px;
    transform: translate(267.1805px,32.494299999999996px) rotate(0.449859rad);
}

.warp__33 {
    transform-origin: 50% -2px;
    transform: translate(275.0964px,36.9734px) rotate(0.530724rad);
}

.warp__34 {
    transform-origin: 50% -2px;
    transform: translate(283.7753px,42.6866px) rotate(0.637098rad);
}

.warp__35 {
    transform-origin: 50% -2px;
    transform: translate(291.5333px,49.6756px) rotate(0.771999rad);
}

.warp__36 {
    transform-origin: 50% -2px;
    transform: translate(299.7154px,56.5539px) rotate(0.908569rad);
}

.warp__37 {
    transform-origin: 50% -2px;
    transform: translate(303.0161px,63.6978px) rotate(1.052013rad);
}

.warp__38 {
    transform-origin: 50% -2px;
    transform: translate(307.5595px,72.4542px) rotate(1.226057rad);
}

.warp__39 {
    transform-origin: 50% -2px;
    transform: translate(310.702px,80.189px) rotate(1.375263rad);
}

.warp__40 {
    transform-origin: 50% -2px;
    transform: translate(310.1962px,88.759px) rotate(1.535087rad);
}